<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="mainPerfil">
      <section class="enh3">
        <article class="perfil">
          <h3>Perfil</h3>
          <form action="/profile?_method=PUT" method="POST" class="perfil-form" enctype="multipart/form-data">
            
            <img src="/img/users/<%= locals.userLogged.profileImage %>" class="img-user-editar">
            <input type="file" accept=".PNG, .JPG, .JPEG, .GIF" name="profileImage" id="profileImages">
            
            <div class="perfil-class"></div>
            <label for="first_name">Nombre (s)
            <input type="text" name="first_name" id="first_names" placeholder="p. ej. Daniela" minlength="2" 
            value="<%= locals.userLogged.first_name %>" required></label>

            <label for="last_name">Apellido (s)
            <input type="text" name="last_name" id="last_names" placeholder="p. ej. Campos" minlength="2"
            value="<%= locals.userLogged.last_name %>" required></label>

            <label for="email">Correo electrónico
            <input type="email" name="email" id="emails" placeholder="p. ej. danielacampos@hotmail.com" 
            value="<%= locals.userLogged.email %>" required></label>

            <button type="submit" class="">GUARDAR CAMBIOS</button>
          </form>
        </article>
        <% if (locals.isLogged) { %>
          <% if (locals.userLogged.id_category == 1) { %>
            <article class="gestion">
            <a href="/admin"><button type="submit" class="bt">GESTIONAR USUARIOS</button></a>
          </article>
          <% } %>
        <% } %>
        <article class="historial">
            <h3>Historial de compras</h3>
            <form action="">
              <label class="fec">Fecha: 
              <select name="fechas" id="fechas">
                <option value="junio">15 Enero 2021</option>
                <option value="junio">21 Marzo 2021</option>
                <option value="junio">06 Abril 2021</option>
                <option value="junio">26 Mayo 2021</option>
                <option value="junio">27 Mayo 2021</option>
                <option value="junio">01 Junio 2021</option>
              </select>
            </label>
            <div class="titulos">
              <h1>Productos</h1>
              <h1>Descripción</h1>
              <h1>Cantidad</h1>
              <h1>Totales</h1>
            </div>
          <div>
            <img src="/img/products/holanda-chocolate.webp" alt="producto">
            <a href="/productDetail">Holanda Chocolate</a>
            <p>1</p>
            <p>$49.99</p>
          </div>
          <div>
            <img src="/img/products/holanda-vainilla.webp" alt="producto">
            <a href="/productDetail">Holanda Vainilla</a>
            <p>1</p>
            <p>$48.00</p>
          </div>
            <div class="pagoFinal">
              <h1>Total pagado:</h1>
              <p>$97.99</p>
            </div>
            </form>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>