<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-register">
        <div class="glass-container-register">
          <section class="glass-register">
            <h3>Registro</h3>
            <form action="/register" method="POST" enctype="multipart/form-data" class="register-form">
                <div>
                  <div>
                    <label for="profileImage">Foto de perfil</label>
                    <input type="file" name="profileImage" id="profileImage">
                  </div>

                    <div>
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" value="<%= locals.old ? old.first_name : null %>" 
                    placeholder="p. ej. Daniela" class="<%= locals.errors && errors.first_name ? 'invalid' : 'null' %>" 
                    minlength="3" required>
                    <% if (locals.errors && errors.first_name) { %>
                      <p class="invalid"><%= errors.first_name.msg %></p>
                      <% } %>
                    </div>

                    <div>
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" value="<%= locals.old ? old.last_name: null %>" 
                    placeholder="p. ej. Campos" class="<%= locals.errors && errors.last_name? 'invalid' : 'null' %>" 
                    minlength="6" required>
                    <% if (locals.errors && errors.last_name) { %>
                      <p class="invalid"><%= errors.last_name.msg %></p>
                      <% } %>
                    </div>
                </div>

                <div>
                    <div>
                    <label for="email">Correo electrónico</label>
                    <input type="email" name="email" id="email" value="<%= locals.old ? old.email: null %>" 
                    placeholder="p. ej. danielacampos@hotmail.com" class="<%= locals.errors && errors.email ? 'invalid' : 'null' %>" 
                    required>
                    <% if (locals.errors && errors.email) { %>
                      <p class="invalid"><%= errors.email.msg %></p>
                      <% } %>
                    </div>

                    <div>
                    <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass" value="<%= locals.old ? old.pass: null %>" 
                    class="<%= locals.errors && errors.pass ? 'invalid' : 'null' %>" minlength="8" required>
                    <% if (locals.errors && errors.pass) { %>
                      <p class="invalid"><%= errors.pass.msg %></p>
                      <% } %>
                    </div>
                </div>
                
                <div class="condiciones-div">
                <label class="condiciones-register""><input type="checkbox" required> Acepto los Términos de Uso y la Política de Privacidad.</label>
            </div>
                <button type="submit" class="register-button" id="botoncrear">CREAR CUENTA</button>
                  </form>
                  <h2>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></h2>
          </section>
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-1" />
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-2" />
        </div>
      </main>
    <%- include('../partials/footer') %>
  </body>
</html>
