<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-add">
      <div class="glass-container-add">
      <section class="glass-add">
          <form action="/products/addProduct" method="POST" enctype="multipart/form-data" class="add-form">
            <h3>Agregar producto</h3>
              <div>
          <div>
            <label for="image">Imagen</label>
            <input type="file" name="image" id="image">
          </div>
          <div>
            <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand" value="<%= locals.old ? old.brand: null %>" 
            class="<%= locals.errors && errors.brand ? 'invalid' : 'null' %>" placeholder="p. ej. Holanda" required>
            <% if (locals.errors && errors.brand) { %>
              <p class="invalid"><%= errors.brand.msg %></p>
              <% } %>
          </div>
          <div>
            <label for="flavor">Sabor</label>
            <input type="text" name="flavor" id="flavor" value="<%= locals.old ? old.flavor : null %>" 
            class="<%= locals.errors && errors.flavor ? 'invalid' : 'null' %>" placeholder="p. ej. Chocolate" required>
            <% if (locals.errors && errors.flavor) { %>
              <p class="invalid"><%= errors.flavor.msg %></p>
              <% } %>
          </div>
                </div>
            <label for="description">Descripción</label>
                <div>
            <textarea name="description" id="description" class="descrip" value="<%= locals.old ? old.des : null %>" 
              class="<%= locals.errors && errors.des ? 'invalid' : 'null' %>" placeholder="Compuesto con ..."></textarea>
            <% if (locals.errors && errors.des) { %>
              <p class="invalid"><%= errors.des.msg %></p>
              <% } %>
                </div>
            <label for="pres">Presentación</label>
                <div>
          <div>
            <input type="checkbox" name="present1" id="present1" onclick="validate1()"> 1/2 litro
            <label>Precio<input type="number" name="price1" id="price1" placeholder="p. ej. $40.00" step="1" min="1" disabled></label>
            <label>Piezas<input type="number" name="cant1" id="cant1" placeholder="p. ej. 200" step="1" min="1" disabled></label>
          </div>
          <div>
            <input type="checkbox" name="present2" id="present2" onclick="validate2()"> 1 litro
            <label>Precio<input type="number" name="price2" id="price2" placeholder="p. ej. $50.00" step="1" min="1" disabled></label>
            <label>Piezas<input type="number" name="cant2" id="cant2" placeholder="p. ej. 200" step="1" min="1" disabled></label>
          </div>
          <div>
            <input type="checkbox" name="present3" id="present3" onclick="validate3()"> 1.89 litro
            <label>Precio<input type="number" name="price3" id="price3" placeholder="p. ej. $60.00" step="1" min="1" disabled></label>
            <label>Piezas<input type="number" name="cant3" id="cant3" placeholder="p. ej. 200" step="1" min="1" disabled></label>
          </div>    
              </div>
          <div>
            <button type="submit" class="register-button">AGREGAR</button>
          </div>
          </form>
      </section>
    </div>
    </main>
    <%- include('../partials/footer') %>

    <script type="text/javascript">
      function validate1() {
          if (document.getElementById('present1').checked) {
            document.getElementById('price1').disabled = false;
            document.getElementById('cant1').disabled = false;
          } else {
            document.getElementById('price1').disabled = true;
            document.getElementById('cant1').disabled = true;
          }
      }

      function validate2() {
          if (document.getElementById('present2').checked) {
            document.getElementById('price2').disabled = false;
            document.getElementById('cant2').disabled = false;
          } else {
            document.getElementById('price2').disabled = true;
            document.getElementById('cant2').disabled = true;
          }
      }

      function validate3() {
          if (document.getElementById('present3').checked) {
            document.getElementById('price3').disabled = false;
            document.getElementById('cant3').disabled = false;
          } else {
            document.getElementById('price3').disabled = true;
            document.getElementById('cant3').disabled = true;
          }
      }
      </script>
  </body>
</html>
