<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-add">
      <div class="glass-container-add">
      <section class="glass-add">
          <form action="/products/addProduct" method="POST" enctype="multipart/form-data" class="add-form">
            <h3>Agregar producto</h3>
              <div>
          <div>
            <label for="productImage">Imagen</label>
            <input type="file" name="productImage" id="productImage">
          </div>
          <div>
            <label for="id_brand">Marca</label>
            <select name="id_brand" class="<%= locals.errors && errors.id_brand ? 'invalid' : 'null' %>" required>
              <% for(i=0; i < allBrands.length; i++) { %>
                  <option value="<%= allBrands[i].id_brand %>">
                      <%= allBrands[i].name %>
                  </option>
              <% } %>
            </select>
            <% if (locals.errors && errors.id_brand) { %>
              <p class="invalid"><%= errors.id_brand.msg %></p>
              <% } %>
          </div>
          <div>
            <label for="id_flavor">Sabor</label>
            <select name="id_flavor" class="<%= locals.errors && errors.id_flavor ? 'invalid' : 'null' %>" required>
              <% for(i=0; i < allFlavors.length; i++) { %>
                  <option value="<%= allFlavors[i].id_flavor %>">
                      <%= allFlavors[i].name %>
                  </option>
              <% } %>
            </select>
            <% if (locals.errors && errors.id_flavor) { %>
              <p class="invalid"><%= errors.id_flavor.msg %></p>
              <% } %>
          </div>
                </div>
            <label for="description">Descripción</label>
                <div>
            <textarea name="description" id="description" class="descrip" 
            value="<%= locals.old ? old.description : null %>" 
            class="<%= locals.errors && errors.description ? 'invalid' : 'null' %>" 
            placeholder="Compuesto con ..."></textarea>
            <% if (locals.errors && errors.description) { %>
              <p class="invalid"><%= errors.description.msg %></p>
              <% } %>
                </div>
            <label for="pres">Presentación</label>
                <div>
          <div>
            <select name="id_size" required>
              <% for(i=0; i < allSizes.length; i++) { %>
                  <option value="<%= allSizes[i].id_size %>">
                      <%= allSizes[i].name %>
                  </option>
              <% } %>
            </select>
            <label>Precio<input type="number" name="price" id="price" placeholder="p. ej. $40.00" step="1" min="1"></label>
            <label>Piezas<input type="number" name="stock" id="stock" placeholder="p. ej. 200" step="1" min="1"></label>
          </div> 
              </div>
          <div>
            <button type="submit" class="register-button">AGREGAR</button>
          </div>
          </form>
      </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
