<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="detail">
            <% listaProductos.forEach(producto => {%>
                <% if (producto.id == idProducto) {%>
            <article class="product-img">
                <img src="/img/<%= producto.image %>" alt="imagen-producto">
            </article>
        <div>
            <article class="descripcion">
                <h1><%= producto.brand + " " + producto.flavor %></h1>
                <h3>Descripción:</h3>
                <p><%= producto.description %></p>
        <form action="">
                <h3>Presentación:</h3>
            <div class="inputs">
                <input type="checkbox" name="present1" id="present1" onclick="validate1Detalle()"> 1/2 Litro
                <input type="checkbox" name="present2" id="present2" onclick="validate2Detalle()"> 1 Litro
                <input type="checkbox" name="present3" id="present3" onclick="validate3Detalle()"> 1.89 Litros
            </div>
            <div class="precios">
                <h3>Precio:</h3>
                <input type="text" name="price1" id="price1" value="$<%= producto.price1 %>">
                <input type="text" name="price2" id="price2" value="$<%= producto.price2 %>">
                <input type="text" name="price3" id="price3" value="$<%= producto.price3 %>">
            </div>
            <% }}) %>
            <label for="cantidadCompra">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidadCompra" step="1" min="1" max="100" maxlength="3" value="1">
            <button type="submit">AGREGAR AL CARRITO DE COMPRA</button>
        </form>
            </article>
        </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script type="text/javascript">
        function validate1Detalle() {
            if (document.getElementById('present1').checked) {
                document.getElementById('price1').disabled = true;
                document.getElementById('price1').style.display = 'block';
                document.getElementById('price1').style.color = 'black';
                document.getElementById('price2').style.display = 'none';
                document.getElementById('price3').style.display = 'none';
            } else {
                document.getElementById('price1').style.display = 'none';
                document.getElementById('price2').style.display = 'none';
                document.getElementById('price3').style.display = 'none';
            }
        }
  
        function validate2Detalle() {
            if (document.getElementById('present2').checked) {
                document.getElementById('price2').disabled = true;
                document.getElementById('price2').style.display = 'block';
                document.getElementById('price2').style.color = 'black';
                document.getElementById('price1').style.display = 'none';
                document.getElementById('price3').style.display = 'none';
            } else {
                document.getElementById('price1').style.display = 'none';
                document.getElementById('price2').style.display = 'none';
                document.getElementById('price3').style.display = 'none';
            }
        }
  
        function validate3Detalle() {
            if (document.getElementById('present3').checked) {
                document.getElementById('price3').disabled = true;
                document.getElementById('price3').style.display = 'block';
                document.getElementById('price3').style.color = 'black';
                document.getElementById('price2').style.display = 'none';
                document.getElementById('price1').style.display = 'none';
            } else {
                document.getElementById('price1').style.display = 'none';
                document.getElementById('price2').style.display = 'none';
                document.getElementById('price3').style.display = 'none';
            }
        }
        </script>
</body>
</html>