<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="detail">
            

                <img class="imagenDetalle" src="/img/products/<%= producto.productImage %>" alt="imagen-producto">

        <div>
            <article class="descripcion">
                <h1><%= producto.brand.name + " " + producto.flavor.name %></h1>
                <h3>Descripción:</h3>
                <p><%= producto.description %></p>
        <form action="">
                <h3>Presentación:</h3>

                <select onchange="showPrice()" class="size-select" name="id_size" required>
                    <option value="">Seleccione una presentación</option>
                    <% for(i=0; i < allSizes.length; i++) { %>
                        <option value="<%= allSizes[i].price %>">
                            <%= allSizes[i].size.name %>
                        </option>
                    <% } %>
                  </select>
            <div class="precios">
                <h3>Precio: </h3>
            </div>
            <label for="cantidadCompra">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidadCompra" step="1" min="1" max="100" maxlength="3" value="1">
            <button type="submit">AGREGAR AL CARRITO DE COMPRA</button>
        </form>
            </article>
        </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>