<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main class="main-product-list">
        <div class="ordenar-filtar-container">
          <button class="ordenar-filtrar-button">Ordenar & Filtrar</button>
          <div class="ordenar-checkbox-container">
            <label for="ordenar">Ordenar por: </label>
            <select name="ordenar" id="ordenar">
              <option value="populares">Mas populares</option>
              <option value="recientes">Recientes</option>
              <option value="precio-as">Precio: ascendente</option>
              <option value="precio-des">Precio: descendente</option>
            </select>
          </div>
        </div>
        <div class="filters-products">
          <div class="filtros">
            <form class="filter-form">
              <h3>Filtros</h3>
              <div class="category">
                <h3>Marcas</h3>
                <div class="filter-group-checkboxes brand">
                  <div>
                    <label><input type="checkbox" name="brands" id="holanda" class="brand-check" value="Holanda"> Holanda</label>
                  </div>
                  <div>
                    <label><input type="checkbox" name="brands" id="b&j" class="brand-check" value="Ben & Jerry's"> Ben & Jerry's</label>
                  </div>
                  <div>
                    <label><input type="checkbox" name="brands" id="hageen" class="brand-check" value="Häagen-Dazs"> Häagen-Dazs</label>
                  </div>
                  <div>
                    <label><input type="checkbox" name="brands" id="blue" class="brand-check" value="Blue Bell"> Blue Bell</label>
                  </div>
                  <div>
                    <label><input type="checkbox" name="brands" id="thrifty" class="brand-check" value="Thrifty"> Thrifty</label>
                  </div>
                </div>
              </div>
              <div class="category">
                <h3>Precio</h3>
                <div class="filter-group-checkboxes">
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="0-25"> 0 - $25</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="25-50"> $25 - $50</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="50-75"> $50 - $75</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="75-100"> $75 - $100</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="100-125"> $100 - $125</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="125-150"> $125 - $150</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="150-200"> $150 - $200</label>
                  </div>
                  <div>
                    <label><input class="price-check" type="checkbox" name="priceRange" value="200-9999"> $200+</label>
                  </div>
                </div>
              </div>
              <button class="apply-button">Aplicar</button>
            </a>
            </form>
          </div>  
          <div class="productos">
            <% if (locals.isLogged) { %> <!-- User is logged -->
              <% if (locals.userLogged.id_category == '1') { %> <!-- User logged is admin -->
            <article class="product-container" id="icono-add">
              <div>
                <a href="/products/addProduct"><img src="/img/products/ad.png"></a>
              </div>
              <a href="/products/addProduct">
              <h4>
                AGREGAR NUEVO PRODUCTO
              </h4>
            </a>
            </article>
            <% } %> 
            <% } %>
          <% if (locals.isLogged) { %> <!-- User is logged -->
            <% if (locals.userLogged.id_category == '1') { %> <!-- User logged is admin -->
              <% for( let producto of listaProductos ) { %>
                <% if (producto.status == true) { %> <!-- The product is available -->
                  <a href="/products/productDetail/<%= producto.id_product %>">
                    <article class="product-container">
                      <div>
                        <img src="/img/products/<%= producto.productImage %>" alt="">
                      </div>
                      <h4>
                        <%= producto.brand.name + " - " + producto.flavor.name + " Ice Cream"%>
                      </h4>
                      <a href="/products/updateProduct/<%=  producto.id_product%>">
                        <button class="edit-button"><i class="fas fa-pencil-alt"></i></button>
                      </a>  
                    </article>
                  </a>
                <% } else { %> <!-- The product is NOT available -->
                  <a href="/products/productDetail/<%= producto.id_product %>">
                    <article class="product-container" id="unavailable">
                      <div>
                        <img src="/img/products/<%= producto.productImage %>" alt="">
                      </div>
                      <h4>
                        <%= producto.brand.name + " - " + producto.flavor.name + " Ice Cream"%>
                      </h4>
                      <p>No disponible</p>
                      <a href="/products/updateProduct/<%=  producto.id_product%>">
                        <button class="edit-button"><i class="fas fa-pencil-alt"></i></button>
                      </a>  
                    </article>
                  </a>
                <% } %> 
                
              <% } %>
            <% } else {%> <!-- User logged is client -->
              <% for( let producto of listaProductos ) { %>
                <% if (producto.status == true) { %> <!-- Only show available products -->
                  <a href="/products/productDetail/<%= producto.id_product %>">
                    <article class="product-container">
                      <div>
                        <img src="/img/products/<%= producto.productImage %>" alt="">
                      </div>
                      <h4>
                        <%= producto.brand.name + " - " + producto.flavor.name + " Ice Cream"%>
                      </h4>
                    </article>
                  </a>
                <% } %>
              <% } %>
            <% } %> 
          <% } else { %> <!-- User is not logged -->
            <% for( let producto of listaProductos ) { %>
              <% if (producto.status == true) { %> <!-- Only show available products -->
                <a href="/products/productDetail/<%= producto.id_product %>">
                  <article class="product-container">
                    <div>
                      <img src="/img/products/<%= producto.productImage %>" alt="">
                    </div>
                    <h4>
                      <%= producto.brand.name + " - " + producto.flavor.name + " Ice Cream"%>
                    </h4>
                  </article>
                </a>
              <% } %>
            <% } %>
                  
          <% } %> 
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>