<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="detail">
            <% listaProductos.forEach(producto => {%>
                <% if (producto.id == idProducto) {%>
            <article class="product-img">
                <img src="/img/<%= producto.image %>" alt="imagen-producto">
            </article>
        <div>
            <article class="descripcion">
                <h1> <%= producto.name %></h1>
                <h3>Descripción:</h3>
                <p><%= producto.description %></p>
        <form action="">
                <h3>Presentación:</h3>
            <div class="inputs">
                <input type="radio" name="tamano" id="medio"> 1/2 Litro
                <input type="radio" name="tamano" id="litro"> 1 Litro
                <input type="radio" name="tamano" id="litromas"> 1.89 Litros
            </div>
            <div class="precios">
                <h3>Precio:</h3>
                <p>$49.99</p>
            </div>
            <% }}) %>
            <label for="cantidadCompra">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidadCompra" step="1" min="1" max="100" maxlength="3" value="1">
            <button type="submit">AGREGAR AL CARRITO DE COMPRA</button>
        </form>
            </article>
        </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>