<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-add">
      <div class="glass-container-add">
        <section class="glass-add">
          <form action="/products/updateProduct/<%= productToEdit.id %>?_method=PUT" method="POST" class="add-form" enctype="multipart/form-data">
      <h3>Modificar producto</h3>
              <div class="ordenup">
          <div>
            <label for="image">Imagen</label>
            <img src="/img/products/<%= productToEdit.image %>" alt="Ejemplo imagen" class="img-editar">
            <input type="file" name="image" id="image"> 
          </div>
                  <div class="uplinea">
          <div>
            <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand" minlength="5" value="<%= productToEdit.brand %>"
            class="<%= locals.errors && errors.brand ? 'invalid' : 'null' %>" required> 
            <% if (locals.errors && errors.brand) { %>
              <p class="invalid"><%= errors.brand.msg %></p>
              <% } %>
          </div> 
          <div>
            <label for="flavor">Sabor</label>
            <input type="text" name="flavor" id="flavor" minlength="5" value="<%= productToEdit.flavor %>" 
            class="<%= locals.errors && errors.flavor ? 'invalid' : 'null' %>" required> 
            <% if (locals.errors && errors.flavor) { %>
              <p class="invalid"><%= errors.flavor.msg %></p>
              <% } %>
          </div>     
            <label for="des">Descripción</label>
          <div>
            <textarea name="description" id="description" class="descrip" 
            class="<%= locals.errors && errors.des ? 'invalid' : 'null' %>"><%= productToEdit.description %></textarea>
            <% if (locals.errors && errors.des) { %>
              <p class="invalid"><%= errors.des.msg %></p>
              <% } %>
          </div>
                  </div>
                </div>
            <label for="pres">Presentación</label>
                  <div>
          <div>
            <input type="checkbox" name="present1" id="present1" checked onclick="validate1Update()"> 1/2 litro
            <label>Precio<input type="number" name="price1" id="price1" value="<%= productToEdit.price1 %>" step="1" min="1"></label>
            <label>Piezas<input type="number" name="cant1" id="cant1" value="<%= productToEdit.cant1 %>" step="1" min="1"></label>
          </div>
          <div>
            <input type="checkbox" name="present2" id="present2" checked onclick="validate2Update()"> 1 litro
            <label>Precio<input type="number" name="price2" id="price2" value="<%= productToEdit.price2 %>" step="1" min="1"></label>
            <label>Piezas<input type="number" name="cant2" id="cant2" value="<%= productToEdit.cant2 %>" step="1" min="1"></label>
          </div>
          <div>
            <input type="checkbox" name="present3" id="present3" checked onclick="validate3Update()"> 1.89 litro
            <label>Precio<input type="number" name="price3" id="price3" value="<%= productToEdit.price3 %>" step="1" min="1"></label>
            <label>Piezas<input type="number" name="cant3" id="cant3" value="<%= productToEdit.cant3 %>"  step="1" min="1"></label>
          </div> 
                  </div>
            <button type="submit" class="register-button">MODIFICAR DATOS</button>
          </form>
          <form id="mensaje-emergente">
            <button class="register-button" onclick="confirmDelete()">ELIMINAR PRODUCTO</button>
          </form>
      </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
