<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-add">
      <div class="glass-container-add">
        <section class="glass-add">
          <form action="/products/updateProduct/<%= producto.id_product %>?_method=PUT" method="POST" class="add-form" enctype="multipart/form-data">
      <h3>Modificar producto</h3>
              <div class="ordenup">
          <div class="product-container-img">
            <label for="image">Imagen</label>
            <img src="/img/products/<%= producto.productImage %>" alt="Ejemplo imagen" class="img-editar">
            <input type="file" accept=".PNG, .JPG, .JPEG, .GIF" name="image" id="productImage"> 
          </div>
                  <div class="uplinea">
          <div>
            <label for="id_brand">Marca</label>
            <select name="id_brand" id="id_brand" class="<%= locals.errors && errors.id_brand ? 'invalid' : 'null' %>" required>
              <% allBrands.forEach(brand => { %>
              <option value="<%= brand.id_brand %>" <% if (producto.brand.id_brand == brand.id_brand) { %><%= 'selected' %><% }; %>><%= brand.name %></option>
              <% }); %>
          </select>
            <% if (locals.errors && errors.id_brand) { %>
              <p class="invalid"><%= errors.id_brand.msg %></p>
              <% } %>
          </div> 
          <div>
            <label for="id_flavor">Sabor</label>
            <select name="id_flavor" id="id_flavor" class="<%= locals.errors && errors.id_flavor ? 'invalid' : 'null' %>" required>
              <% allFlavors.forEach(flavor => { %>
              <option value="<%= flavor.id_flavor %>" <% if (producto.flavor.id_flavor == flavor.id_flavor) { %><%= 'selected' %><% }; %>><%= flavor.name %></option>
              <% }); %>
          </select>
            <% if (locals.errors && errors.id_flavor) { %>
              <p class="invalid"><%= errors.id_flavor.msg %></p>
              <% } %>
          </div>     
            <label for="des">Descripción</label>
          <div>
            <textarea name="description" id="description" class="descrip" 
            class="<%= locals.errors && errors.description ? 'invalid' : 'null' %>"><%= producto.description %></textarea>
            <% if (locals.errors && errors.description) { %>
              <p class="invalid"><%= errors.description.msg %></p>
              <% } %>
          </div>
                  </div>
                </div>
            <label for="pres">Presentación</label>
                  <div>
          <div>
            <select name="id_size" id="id_size" required>
              <option value="">Seleccione una presentación</option>
              <% for(i=0; i < allSizes.length; i++) { %>
                  <option value="<%= allSizes[i].id_size %>">
                      <%= allSizes[i].size.name %>
                  </option>
              <% } %>
            </select>
            <label>Precio<input type="number" name="price" id="price" placeholder="p. ej. $40.00" step="1" min="1" value="<%= producto.price %>" required></label>
            <label>Piezas<input type="number" name="stock" id="stock" placeholder="p. ej. 200" step="1" min="1" value="<%= producto.stock %>" required></label>
          </div>
                </div>
            <button type="submit" class="register-button">MODIFICAR DATOS</button>
          </form>
          <form id="mensaje-emergente" action="/products/delete/<%= producto.id_product %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <button class="register-button" type="submit">ELIMINAR PRODUCTO</button>
          </form>
          <form id="mensaje-emergente2" action="/products/recuperar/<%= producto.id_product %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <button class="register-button" type="submit">ALTA DEL PRODUCTO</button>
          </form>
      </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
